<div class="cat-wrapper">
  <!-- SELECTOR DE RAZA -->
  <mat-form-field appearance="outline" class="selector">
    <mat-label>Selecciona una raza</mat-label>
    <mat-select (selectionChange)="onSelect($event.value)">
      <mat-option *ngFor="let b of breeds()" [value]="b.id">
        {{ b.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- LOADING -->
  <mat-spinner *ngIf="loading()" diameter="48" class="spinner"></mat-spinner>

  <!-- INFO + CARRUSEL -->
  <mat-card *ngIf="selected() && !loading()" class="breed-card">
    <mat-card-header>
      <mat-card-title>{{ selected().name }}</mat-card-title>
      <mat-card-subtitle>{{ selected().origin }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>{{ selected().description }}</p>

      <!-- CARRUSEL -->
      <div class="carousel" *ngIf="pictures().length">
        <button mat-icon-button color="primary" (click)="prev()">
          <mat-icon>chevron_left</mat-icon>
        </button>

        <img
          [src]="pictures()[current()]?.url"
          [alt]="selected().name"
          class="carousel-img"
        />

        <button mat-icon-button color="primary" (click)="next()">
          <mat-icon>chevron_right</mat-icon>
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
